im_base_to_angle
im_base_to_angle.*
/trained_data/*
trained_data/*
/object-detection/ssd_mobilenet_v1_coco_11_06_2017/*
object-detection/ssd_mobilenet_v1_coco_11_06_2017/model.ckpt.data-00000-of-00001
*/*/ssd_mobilenet_v1_coco_11_06_2017/model.ckpt.data-00000-of-00001
object-detection/car_license_plate/ssd_mobilenet_v1_coco_11_06_2017/model.ckpt.data-00000-of-00001
trained_model_files/angles/H5/TMWA_v19_DI_PA_DN_and_L_PM_VGG19_16.04_.h5
trained_model_files/angles/H5/TMWA_v13_DI_PA_different_neurons_Nadam_0.2_.h5
trained_model_files/angles/H5/TMWA_v25_DI_PA_PM_VGG19_20EP_19.57_.h5
trained_model_files/angles/H5/TMWA_v14_DI_PA_different_neurons_RMSProp_35_.h5
trained_model_files/angles/H5/TMWA_v12_DI_PA_different_neurons_Adamax_47_.h5
trained_model_files/angles/H5/TMWA_v7_DI_different_neurons_50_.h5
trained_model_files/angles/H5/TMWA_v20_DI_PA_DN_and_L_PM_Xception_9.44_.h5
trained_model_files/angles/H5/TMWA_v28_DI_PA_PM_InceptionV3_20EP_3.57_.h5
trained_model_files/angles/H5/TMWA_v10_DI_PA_different_neurons_Adagrad_30_.h5
trained_model_files/angles/H5/TMWA_v22_DI_PA_DN_and_L_PM_InceptionV3_2.94_.h5
trained_model_files/angles/H5/TMWA_v26_DI_PA_PM_Xception_20EP_NOT_FROZEN_72.33_.h5
trained_model_files/angles/H5/TMWA_v24_DI_PA_PM_VGG16_20EP_26.94_.h5
trained_model_files/angles/H5/TMWA_v21_DI_PA_DN_and_L_PM_ResNet50_0.63_.h5
trained_model_files/angles/H5/TMWA_v23_DI_PA_DN_and_L_PM_InceptionResNetV2_8.44_.h5
trained_model_files/angles/H5/TMWA_v18_DI_PA_DN_and_L_PM_VGG16_20.15_.h5
trained_model_files/angles/H5/TMWA_v9_DI_PA_different_neurons_Adadelta_1.5_.h5
trained_model_files/angles/H5/TMWA_v11_DI_PA_different_neurons_Adadelta_2.3_.h5
trained_model_files/angles/H5/TMWA_v34_DI_PA_PM_ResNet50_FROZEN_0.3_.h5
trained_model_files/angles/H5/TMWA_v8_CI_PA_different_neurons_99_.h5
trained_model_files/angles/H5/TMWA_v33_DI_PA_PM_Xception_20EP_FROZEN_11.39_.h5
trained_model_files/angles/H5/TMWA_v15_DI_PA_different_neurons_SGD_26_.h5
trained_model_files/angles/H5/TMWA_v27_DI_PA_PM_ResNet50_20EP_38.94_.h5
trained_model_files/angles/H5/TMWA_v29_DI_PA_PM_InceptionResNetV2_20EP_9.24_.h5
im_base_to_angle/im_base_to_angle_4.zip
im_base_to_angle/im_base_to_angle_5.zip
trained_data/X_4_di_pa.sav
trained_data/X_4_di_pa.pickle
trained_data/X_4_di_pa_3ch.sav
trained_data/X_4_di_pa_3ch_test.sav
trained_data/to_evaluate/X_to_PM_di_MORE_pa_RESHAPE.sav
trained_data/to_evaluate/X_to_PM_di_less_pa_NOT_RESHAPE.sav
trained_data/to_evaluate/X_to_PM_di_less_pa_RESHAPE.sav
trained_data/X_6_di_less_pa.pickle
.git/objects/9b/0696d3b0fa7a1841b5237db24cc1e60df2bdbb
.git/objects/ce/d4e273e4d562650ea7b74362a1b7b27ed71ec3
.git/objects/f5/7fba7ab13023fc52d65250678bac3e140287d9
.git/objects/31/c119937551827a366e2a4bdda66dfc03faf47c
.git/objects/2a/fc48799e8fb1ebf56d6f2a7b8f864497252089
.git/objects/08/e4be54a041fc5ddb6ab09113d2eafcff1c1970
.git/objects/50/a5f6ea0a51d262f60ae71bd806b5a9c011b514
.git/objects/a8/7259efeb8c11438f4ea86af5aff33a45f0e53f
.git/objects/f6/deaf974b4c92e6833ea6ed9241a368921e35c8
.git/objects/d3/6ae16865904e734d2fd4993b040cc45e67ff27
.git/objects/d3/83ba5d51359104356b37a11f7d7be06f60d5ff
.git/objects/ac/3ee8a615fbe0eeb405fd222b2644990f66f491
.git/objects/dd/182fed93c98f0712fafb7201084a726af9e2c6
.git/objects/ee/852ba9562d070f5ac86e287617f685aabff004
.git/objects/0e/56b7179bd41596b0520766dfcc92a47ff2dee9
.git/objects/da/3f6d0161cc293b7511b93a6039ec9838d98274
.git/objects/pack/pack-7f19ccf25b20c495f5efcafec3e939e1c904a832.pack
.git/objects/c4/947dced71725793f117962179b2f9408c48508
.git/objects/9a/138ab5d2ef698779fb33b5bf82e5e32976142d
.git/objects/fa/4263de2b4a6ed0a6f09eaf4eafebf75b81b008
.git/objects/d2/701371b6687951d79b57349d5f99d8fd32aebf
.git/objects/54/4e72f0f551b8735233960fd4eb60406bb03622
