im_base_to_angle
im_base_to_angle.*
/trained_data/*
/object-detection/ssd_mobilenet_v1_coco_11_06_2017/*
object-detection/ssd_mobilenet_v1_coco_11_06_2017/model.ckpt.data-00000-of-00001
trained_model_files/angles/H5/trained_model_weights_angles_v34_DI_PA_PM_ResNet50_FROZEN_0.3_.h5
trained_model_files/angles/H5/trained_model_weights_angles_v21_DI_PA_DN_and_L_PM_ResNet50_0.63_.h5
trained_model_files/angles/H5/trained_model_weights_angles_v27_DI_PA_PM_ResNet50_20EP_38.94_.h5
trained_model_files/angles/H5/trained_model_weights_angles_v23_DI_PA_DN_and_L_PM_InceptionResNetV2_8.44_.h5
trained_model_files/angles/H5/trained_model_weights_angles_v29_DI_PA_PM_InceptionResNetV2_20EP_9.24_.h5
im_base_to_angle/im_base_to_angle_4.zip
im_base_to_angle/im_base_to_angle_5.zip
trained_data/X_4_di_pa.pickle
trained_data/to_evaluate/X_to_PM_di_MORE_pa_RESHAPE.sav
trained_data/to_evaluate/X_to_PM_di_less_pa_NOT_RESHAPE.sav
trained_data/to_evaluate/X_to_PM_di_less_pa_RESHAPE.sav
trained_data/X_6_di_less_pa.pickle
.git/objects/ce/d4e273e4d562650ea7b74362a1b7b27ed71ec3
.git/objects/pack/pack-7f19ccf25b20c495f5efcafec3e939e1c904a832.pack
.git/objects/d2/701371b6687951d79b57349d5f99d8fd32aebf
